

.App {
  text-align: center;
}

.landing{
  display: flex;
  flex-direction: column
}

.topBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  font-size: calc(3px + 2vmin);
  background-color: #282c34;
  color: rgb(158, 143, 143);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: rgb(158, 143, 143);
}

.App-link {
  color: #61dafb;
}

.carForm{
  display: flex;
  flex-direction: column;
  align-items: center;

}


.leftCar{
  order: 1
}

.comparison{
  order: 2
}

.rightCar{
  order: 3
}